<p id="notice"><%= notice %></p>

<h1 class="col-12">Articles</h1>

<table>
  <thead>
    <tr>
      <th class="col-12">Title</th>
      <th class="col-12">Text</th>
      <th class="col-12">Author</th>
      <th colspan="3" class="col-12"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td class="col-12"><%= article.title %></td>
        <td class="col-12"><%= article.text %></td>
        <td class="col-12"><%= article.author %></td>
      </tr>
      <td><%= link_to 'Show', article %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <hr:>
    <% end %>
  </tbody>
</table>

<br>

<div class="col-12"><%= link_to 'New Article', new_article_path %></div>
